.table {
    margin: 20px;
    width: 98% !important;
}

.card {
    border-style: none !important;
    background-color: #eeeeee !important;
    margin: 20px;
}

.card-body {
    padding: 30px !important;
}

.col-sm-5 {
    padding: 0;
    background-color: #FFFFFF;
    margin: auto;
}

.text-red {
    color: red;
    margin-top: 3px;
}

p{
    padding: 10px 10px;
}

.div-right {
    text-align: right;
    margin-right: 20px;
    width: 94%;
    font-size: 18px;
    font-weight: 700;
}